In [6]:
import pandas as pd
import scipy.stats as stats

### *Arsenic Example*

In [3]:
df = pd.read_csv("arsenic.csv")

In [4]:
df

     Metro Phoenix  x1      Rural Arizona  x2
0          Phoenix   3            Rimrock  48
1         Chandler   7           Goodyear  44
2          Gilbert  25          New River  40
3         Glendale  10    Apache Junction  38
4             Mesa  15            Buckeye  33
5  Paradise Valley   6            Nogales  21
6           Peoria  12  Black Canyon City  20
7       Scottsdale  25             Sedona  12
8            Tempe  15             Payson   1
9         Sun City   7        Casa Grande  18

In [9]:
indTest = stats.ttest_ind(df["x1"],df["x2"])

In [11]:
indTest.statistic

-2.7669395785560553

In [13]:
statistics , p_value = stats.ttest_ind(df["x1"],df.x2)

In [15]:
df.x1.mean()

12.5

In [16]:
df.x2.mean()

27.5

In [17]:
indTest.pvalue

0.012704425122128032

In [18]:
indTest

Ttest_indResult(statistic=-2.7669395785560553, pvalue=0.012704425122128032)

In [19]:
alpha = 0.05
if indTest.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail the Null")

Reject the Null

### *Prozac Example*

In [20]:
df2 = pd.read_csv("prozac.csv")

In [21]:
df2

   moodpre  moodpost  difference
0        3         5           2
1        0         1           1
2        6         5          -1
3        7         7           0
4        4        10           6
5        3         9           6
6        2         7           5
7        1        11          10
8        4         8           4

In [ ]:
stats.ttest_rel(df["moodpre"])