In [1]:
import numpy as np
import pandas as pd
from scipy import stats

### *EXERCISE 1*

The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test.

In [2]:
H_0 = "This company can't  be accused of paying substandard wages?"
H_A = "This company can  be accused of paying substandard wages?"

In [3]:
x_bar = 12.20 # sample mean
mu = 13.20 # population mean
sigma = 2.50 # population std
n = 40 # sample
alpha = 0.01 # significance level

In [4]:
z = (x_bar - mu)/(sigma/np.sqrt(n))
z

-2.5298221281347035

In [5]:
p_value = 1 - stats.norm.cdf(z)
p_value

0.9942939818069991

In [6]:
if p_value<alpha:
    print("Reject The Null Hipothesis")
else:
    print("Fail To Reject The Null Hipothesis")

Fail To Reject The Null Hipothesis

### *EXERCISE 2*

Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

In [7]:
soil = pd.read_csv("soil.csv")

In [11]:
soil

    Soil1  Soil2
0   1.442  1.364
1   1.943  1.878
2   1.110  1.337
3   1.912  1.828
4   1.553  1.371
5   1.641  1.428
6   1.499  1.119
7   1.347  1.373
8   1.685  1.589
9   1.578  1.714
10  1.866  1.260
11  1.653  1.492
12  1.665  1.395
13  1.640  1.778
14  1.976  1.611
15  1.754  1.202
16  1.589  1.542
17  1.976  1.094
18  1.863  1.557
19  1.932  1.053
20  1.570  1.183
21  1.613  1.367
22  2.054  1.144
23  1.550  1.151
24  1.714  1.561
25  1.896  1.192
26  1.737  1.489
27  1.740  1.379
28  1.708  1.501
29  1.548  1.277
30    NaN  1.593
31    NaN  1.172
32    NaN  1.510
33    NaN  1.740
34    NaN  1.355

In [24]:
soil.dropna(inplace=True)

In [26]:
soil.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [48]:
diff = soil.Soil1 - soil.Soil2
diff.head()

0    0.078
1    0.065
2   -0.227
3    0.084
4    0.182
dtype: float64

In [49]:
d_mean = diff.mean()
d_mean

0.28416666666666673

In [50]:
d_std = diff.std()
d_std

0.29312937985356113

In [51]:
n = len(soil)
n

30

In [52]:
t_0 = d_mean/(d_std/np.sqrt(n))
t_0

5.309754126390885

In [54]:
p_value_2 = 2*(1-stats.t.cdf(t_0,n-1))
p_value_2

1.0725240883413534e-05

In [55]:
alpha_2 = 0.01
if p_value_2<alpha_2:
    print("Reject The Null Hipothesis")
else:
    print("Fail To Reject The Null Hipothesis")

Reject The Null Hipothesis

### *EXERCISE 3*

The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset

1. Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).

2. Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.

In [20]:
pisa = pd.read_csv("2015 PISA Test.csv")

In [22]:
pisa.head()

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375

In [56]:
pisa.groupby("Continent_Code").mean()

                internet_users_per_100        Math     Reading     Science
Continent_Code
AF                           43.359918  363.212100  355.457400  381.074250
AS                           68.455613  466.216647  454.059682  467.945847
EU                           77.274888  477.981449  476.164608  478.299381
OC                           86.391704  494.559750  506.085650  511.648700
SA                           60.180494  402.887700  425.359229  421.747186

In [59]:
AF = pisa[pisa["Continent_Code"]=="AF"]
AF

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
19,DZA,AF,38.200000,359.6062,349.8593,375.7451
65,TUN,AF,48.519836,366.8180,361.0555,386.4034

In [60]:
AS = pisa[pisa["Continent_Code"]=="AS"]
AS

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
11,CHN,AS,50.300000,531.2961,493.9412,517.7793
25,GEO,AS,47.569760,403.8332,401.2881,411.1315
27,HKG,AS,84.948353,547.9310,526.6753,523.2774
30,IDN,AS,21.976068,386.1096,397.2595,403.0997
33,ISR,AS,77.352090,469.6695,478.9606,466.5528
35,JOR,AS,60.114383,380.2590,408.1022,408.6691
36,JPN,AS,91.058028,532.4399,515.9585,538.3948
37,KAZ,AS,72.900000,459.8160,427.1410,456.4836
38,KOR,AS,89.648631,524.1062,517.4367,515.8099
39,LBN,AS,74.000000,396.2497,346.5490,386.4854
43,MAC,AS,77.600132,543.8078,508.6905,528.5496
49,MYS,AS,71.064068,446.1098,430.5782,442.9475
56,QAT,AS,92.884826,402.4007,401.8874,417.6112
59,SGP,AS,79.012957,564.1897,535.1002,555.5747
63,THA,AS,39.316127,415.4638,409.1301,421.3373
69,VNM,AS,43.500000,494.5183,486.7738,524.6445

In [61]:
EU = pisa[pisa["Continent_Code"]=="EU"]
EU

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
4,AUT,EU,83.940142,496.7423,484.8656,495.0375
5,BEL,EU,85.052900,506.9844,498.5242,501.9997
6,BGR,EU,56.656300,441.1899,431.7175,445.7720
9,CHE,EU,87.479056,521.2506,492.1982,505.5058
14,CYP,EU,71.715900,437.1443,442.8443,432.5964
15,CZE,EU,75.668839,492.3254,487.2501,492.8300
16,DEU,EU,87.589800,505.9713,509.1041,509.1406
17,DNK,EU,96.330500,511.0876,499.8146,501.9369
20,ESP,EU,78.689600,485.8432,495.5764,492.7861
21,EST,EU,88.411812,519.5291,519.1429,534.1937
22,FIN,EU,86.422133,511.0769,526.4247,530.6612
23,FRA,EU,84.694500,492.9204,499.3061,494.9776
24,GBR,EU,92.000300,492.4785,497.9719,509.2215
26,GRC,EU,66.835000,453.6299,467.0395,454.8288
28,HRV,EU,69.803100,464.0401,486.8632,475.3912
29,HUN,EU,72.834700,476.8309,469.5233,476.7475
31,IRL,EU,80.122400,503.7220,520.8148,502.5751
32,ISL,EU,98.200000,488.0332,481.5255,473.2301
34,ITA,EU,58.141735,489.7287,484.7580,480.5468
40,LTU,EU,71.378000,478.3834,472.4066,475.4089
41,LUX,EU,97.334100,485.7706,481.4391,482.8064
42,LVA,EU,79.200600,482.3051,487.7581,490.2250
44,MDA,EU,63.306625,419.6635,416.2293,427.9978
46,MKD,EU,70.380200,371.3114,351.7415,383.6824
47,MLT,EU,76.184000,478.6448,446.6661,464.7819
48,MNE,EU,68.119581,417.9341,426.8845,411.3136
50,NLD,EU,91.724138,512.2528,502.9591,508.5748
51,NOR,EU,96.810300,501.7298,513.1912,498.4811
54,POL,EU,67.997000,504.4693,505.6971,501.4353
55,PRT,EU,68.632900,491.6270,498.1289,501.1001
57,ROU,EU,55.763200,443.9543,433.6166,434.8849
58,RUS,EU,73.410000,494.0600,494.6278,486.6310
60,SVK,EU,77.634700,475.2301,452.5143,460.7749
61,SVN,EU,73.098700,509.9196,505.2159,512.8636
62,SWE,EU,90.610200,493.9181,500.1556,493.4224
66,TUR,EU,53.744979,420.4540,428.3351,425.4895

In [62]:
OC = pisa[pisa["Continent_Code"]=="OC"]
OC

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
52,NZL,OC,88.222889,495.2233,509.2707,513.3035

In [63]:
SA = pisa[pisa["Continent_Code"]=="SA"]
SA

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
7,BRA,SA,58.327952,377.0695,407.3486,400.6821
10,CHL,SA,64.289000,422.6714,458.5709,446.9561
12,COL,SA,55.904973,389.6438,424.9052,415.7288
53,PER,SA,40.900000,386.5606,397.5414,396.6836
64,TTO,SA,69.198471,417.2434,427.2733,424.5905
67,URY,SA,64.600000,417.9919,436.5721,435.3630