In [2]:
import numpy as np
from scipy import stats
import pandas as pd

In [2]:
np.array([0,20,40,40,50]).std()

17.88854381999832

In [6]:
np.array([0,20,40,40,50]).mean()

30.0

In [3]:
np.array([10,30,50,50,60]).std()

17.88854381999832

In [4]:
np.array([0,200,400,400,500]).std()

178.88543819998318

In [5]:
np.array([0,200,400,400,500]).mean()

300.0

In [26]:
age = [20, 22, 25, 25, 27, 27, 27, 29, 30, 31]

In [27]:
np.mean(age)

26.3

In [10]:
np.median(age)

27.0

In [11]:
stats.mode(age)

ModeResult(mode=array([27]), count=array([3]))

In [12]:
stats.mode(age)[0]

array([27])

In [14]:
data = {"D1":[135, 137, 136, 138, 138],
              "D2":[43,   42, 42, 42, 42],
              "D3":[72, 73, 72, 72, 73],
              "D4":[100, 102, 100, 103, 104]};

In [15]:
df = pd.DataFrame(data)

In [16]:
df

    D1  D2  D3   D4
0  135  43  72  100
1  137  42  73  102
2  136  42  72  100
3  138  42  72  103
4  138  42  73  104

In [17]:
df.mean()

D1    136.8
D2     42.2
D3     72.4
D4    101.8
dtype: float64

In [20]:
df["D2"].mean()

42.2

In [21]:
df.values.mean() # All values

88.3

In [22]:
df["D1"].mode()

0    138
dtype: int64

In [23]:
df["D4"].median()

102.0

## *Dispersion*

In [28]:
np.std(age)

3.2572994949804666

In [30]:
age2 = [20, 22, 25, 25, 27, 27, 27, 29, 30, 31, 121]

In [31]:
np.std(age2)

27.400910885504736

In [32]:
np.max(age2) - np.min(age2)

101

In [33]:
np.var(age2) # Variance

750.809917355372

In [34]:
from scipy.stats import iqr

In [35]:
iqr(age2)

4.5

In [36]:
np.percentile(age2, 25)

25.0

In [37]:
np.percentile(age2, 75)

29.5

In [38]:
np.median(age2)

27.0

In [39]:
np.percentile(age2, 50)

27.0

In [40]:
stats.kurtosis(age2)

5.876609699981859

In [41]:
stats.skew(age2)

2.778572264050739

In [5]:
age3 = [25, 28, 29, 29, 30, 34, 35, 37, 38]

In [6]:
np.median(age3)

30.0

In [7]:
np.percentile(age3, 25) # q1

29.0

In [8]:
np.percentile(age3, 75) # q3

35.0

In [12]:
iqr_1_3 = np.percentile(age3, 75) - np.percentile(age3, 25)

In [13]:
iqr_1_3

6.0

In [15]:
1.5*iqr_1_3

9.0